@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #fbfbfb !important;
}

@layer components {
    .BTN-ADD {
        @apply !h-10 !flex !items-center;
    }
    .INPUT-FILE-UPLOADER input {
        @apply !hidden;
    }
    .BTN-DELETE {
        @apply !bg-red-200 !text-red-500 !border-none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(186, 186, 186);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
